@page
@model AsigOficinas.App.Frontend.Pages.EditarsecretarioDespachoModel
@{
}
<h2>Editar secretario de despacho</h2>

    <form method="post">
        <input type="hidden" asp-for="secretarioDeDespachos.id">
        <div class="form-group">
            <label asp-for="secretarioDeDespachos.nombre"></label>
            <input asp-for="secretarioDeDespachos.nombre" class="form-control">
            <span class="text-danger" asp-validation-for="secretarioDeDespachos.nombre"></span>
        </div>
        <div class="form-group">
            <label asp-for="secretarioDeDespachos.apellido"></label>
            <input asp-for="secretarioDeDespachos.apellido" class="form-control">
            <span class="text-danger" asp-validation-for="secretarioDeDespachos.apellido"></span>
        </div>
        <div class="form-group">
            <label asp-for="secretarioDeDespachos.identificacion"></label>
            <input asp-for="secretarioDeDespachos.identificacion" class="form-control">
            <span class="text-danger" asp-validation-for="secretarioDeDespachos.identificacion"></span>
        </div>
        <div class="form-group">
            <label asp-for="secretarioDeDespachos.edad"></label>
            <input asp-for="secretarioDeDespachos.edad" class="form-control">
            <span class="text-danger" asp-validation-for="secretarioDeDespachos.edad"></span>
        </div>
        <div class="form-group">
            <label asp-for="secretarioDeDespachos.estadoCovid"></label>
            <input asp-for="secretarioDeDespachos.estadoCovid" class="form-control">
            <span class="text-danger" asp-validation-for="secretarioDeDespachos.estadoCovid"></span>
        </div>
        <div class="form-group">
            <label asp-for="secretarioDeDespachos.despacho"></label>
            <input asp-for="secretarioDeDespachos.despacho" class="form-control">
            <span class="text-danger" asp-validation-for="secretarioDeDespachos.despacho"></span>
        </div>
        <div class="from-group">
            <select data-val="true" @* data-val-required="Campo obligatorio" id="Estado" name="Estado"
                asp-for="propietarioId" *@>
                <option selected="selected" value="0">Diagnosticos</option>
                @foreach (var diagnostico in Model.diagnosticos)
                {
                    <option value="@diagnostico.id">@diagnostico.sintomas</option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
