@page
@model AsigOficinas.App.Frontend.Pages.EditarDiagnosticoModel
@{
}
<h2>Editar diagnostico</h2>
<form method="post">
    <input type="hidden" asp-for="diagnostico.id">
    <div class="form-group">
        <label asp-for="diagnostico.sintomas"></label>
        <input asp-for="diagnostico.sintomas" class="form-control">
        <span class="text-danger" asp-validation-for="diagnostico.sintomas"></span>
    </div>
    <div class="form-group">
        <label asp-for="diagnostico.fechaDiagnostico"></label>
        <input asp-for="diagnostico.fechaDiagnostico" class="form-control">
        <span class="text-danger" asp-validation-for="diagnostico.fechaDiagnostico"></span>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>