@page
@model AsigOficinas.App.Frontend.Pages.DetallesModel
@{
}
<h1>Detalles de la sede</h1>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Ubicación</th>
            <th>Oficinas</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.sede.nombre</td>
            <td>@Model.sede.ubicacion</td>
        </tr>
    </tbody>
</table>
<a class="btn btn-primary" asp-area="" asp-page="/WebSede/sede"><i class="bi bi-arrow-left"></i></i> Sedes</a>
