@page
@model AsigOficinas.App.Frontend.Pages.EliminarModel
@{
}
<h2>Desea eliminar sede</h2>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Ubicación</th>
            <th>Oficinas</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.sede.nombre</td>
            <td>@Model.sede.ubicacion</td>
        </tr>
    </tbody>
</table>
<form method="post">
    <input type="hidden" asp-for="sede.id" />
    <button type="submit" class="btn btn-danger">
        <i class="bi bi-trash" aria-hidden="true"></i>
        Confirmar eliminar
    </button>
</form>