@page
@model AsigOficinas.App.Frontend.Pages.EliminarModel
@{
}
<h1>Desea eliminar sede</h1>
<table class="table">
    <tr>
        <td>@Model.sede.nombre</td>
        <td>@Model.sede.ubicacion</td>
    </tr>
</table>
<form method="post">
    <input type="hidden" asp-for="sede.id" />
    <button type="submit" class="btn btn-danger">
        <i class="bi bi-trash" aria-hidden="true"></i>
        Confirmar eliminar
    </button>
</form>