@page
@model AsigOficinas.App.Frontend.Pages.EditarpersonalAseoModel
@{
}
<h2>Editar personal de aseo</h2>
<div class="container-fluid">
    <form method="post">
        <input type="hidden" asp-for="personalDeAseo.id">
        <div class="form-group">
            <label asp-for="personalDeAseo.nombre"></label>
            <input asp-for="personalDeAseo.nombre" class="form-control">
            <span class="text-danger" asp-validation-for="personalDeAseo.nombre"></span>
        </div>
        <div class="form-group">
            <label asp-for="personalDeAseo.apellido"></label>
            <input asp-for="personalDeAseo.apellido" class="form-control">
            <span class="text-danger" asp-validation-for="personalDeAseo.apellido"></span>
        </div>
        <div class="form-group">
            <label asp-for="personalDeAseo.identificacion"></label>
            <input asp-for="personalDeAseo.identificacion" class="form-control">
            <span class="text-danger" asp-validation-for="personalDeAseo.identificacion"></span>
        </div>
        <div class="form-group">
            <label asp-for="personalDeAseo.edad"></label>
            <input asp-for="personalDeAseo.edad" class="form-control">
            <span class="text-danger" asp-validation-for="personalDeAseo.edad"></span>
        </div>
        <div class="form-group">
            <label asp-for="personalDeAseo.estadoCovid"></label>
            <input asp-for="personalDeAseo.estadoCovid" class="form-control">
            <span class="text-danger" asp-validation-for="personalDeAseo.estadoCovid"></span>
        </div>
        <div class="form-group">
            <label asp-for="personalDeAseo.turnoDesarrolloServicio"></label>
            <input asp-for="personalDeAseo.turnoDesarrolloServicio" class="form-control">
            <span class="text-danger" asp-validation-for="personalDeAseo.turnoDesarrolloServicio"></span>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>